#:schema node_modules/wrangler/config-schema.json
name = "london-gaelic-choir"
compatibility_date = "2024-10-22"
compatibility_flags = ["nodejs_compat"]
main = "./dist/_worker.js/index.js"
assets = { directory = "./dist", binding = "ASSETS",  html_handling = "drop-trailing-slash" }

vars = { GITHUB_CLIENT_ID = "Ov23liGzAsxk1oNlWZTj"}

[observability]
enabled = true

[[send_email]]
name = "SEND"
destination_address = "coisirlunnainn@gmail.com"
