---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import groupPhoto from "../images/group-photo.webp";
import massedChoirs from "../images/massed-choirs.webp";
import Title from "../components/Title.astro";
import Prose from "../components/Prose.astro";
import InfoBox from "../components/InfoBox.astro";
---

<Layout title="About">
  <main>
    <section class="grid items-end h-96">
      <Image
        src={groupPhoto}
        alt="Group Photo"
        loading="eager"
        class="w-full row-start-1 col-start-1 object-cover h-96 self-start object-top"
      />
      <div
        class="text-center mt-6 flex flex-col gap-4 max-w-[70ch] mx-auto bg-white row-start-1 col-start-1 p-10"
      >
        <Title>About the Choir</Title>
      </div>
    </section>
    <section class="grid items-center mt-12 max-w-[70ch] mx-auto">
      <Prose>
        <p>
          C&ograve;isir Lunnainn was founded in 1891 and is proud to be the
          world's oldest Scottish Gaelic choir.
        </p>
        <p>
          We rehearse on Tuesdays at 7:30pm at Crown Court Church hall in Covent
          Garden, London. During the pandemic we moved our rehearsals online,
          but are now back in person with the option of online participation for
          those who can't make it into central London.
        </p>

        <p>
          In honour of our 130th anniversary year, we adopted a new motto:
          Ce&ograve;l&mdash;C&agrave;irdeas&mdash;Cli&ugrave;, which loosely
          translates as 'Music&mdash;Friendship&mdash;Renown'.
        </p>

        <p>
          Our motto reflects our core principles of music and friendship, with
          an additional commitment to sharing our singing more widely.
        </p>
      </Prose>
    </section>
    <InfoBox src={massedChoirs} alt="Mod 2023 Massed Choirs">
      <Title>
        <b>&Agrave;</b>&CenterDot;<b>B</b>&CenterDot;<b>C</b>
      </Title>
      <Prose>
        <p>
          <b>&Agrave;</b>igh (joy)&mdash;make sure that the choir remains a fun
          and nurturing environment <br />
          <b>B</b>uanas (durability)&mdash;grow and strengthen choir in terms of
          Gaelic and Music proficiency<br />
          <b>C</b>li&ugrave; (renown)&mdash;increase our visibility and presence
          both in London and at the Royal National M&ograve;d<br />
        </p>
      </Prose>
    </InfoBox>
  </main>
</Layout>

<style></style>
