---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import openEvening from "../images/open-evening.jpg";
import dinner from "../images/dinner.jpg";
import Title from "../components/Title.astro";
---

<Layout title="Events">
  <main>
    <section class="grid items-end h-96">
      <Image
        src={dinner}
        alt="Choir Logo"
        quality="max"
        densities={[2]}
        class="w-full row-start-1 col-start-1 object-cover h-96 self-start object-top"
      />
      <div
        class="text-center mt-6 flex flex-col gap-4 max-w-[70ch] mx-auto bg-white row-start-1 col-start-1 p-10"
      >
        <Title>Upcoming Events</Title>
      </div>
    </section>
    <section
      class="grid items-center mt-12 grid-rows-2 md:grid-rows-1 grid-cols-1 md:grid-cols-2"
    >
      <Image
        src={openEvening}
        alt="Choir Logo"
        quality="max"
        densities={[2]}
        class="self-start pl-0"
      />
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.988064191024!2d-0.1235395232443297!3d51.513434971814725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cb22e62f5d%3A0x3352af428ce0a531!2sCrown%20Court%20Church%20of%20Scotland!5e0!3m2!1sen!2suk!4v1704326514993!5m2!1sen!2suk"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="bg-white w-full h-full"></iframe>
    </section>
  </main>
</Layout>

<style></style>
