---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ceilidh from "../images/ceilidh-2024.png";
import dinner from "../images/dinner.webp";
import Title from "../components/Title.astro";
import Prose from "../components/Prose.astro";
---

<Layout title="Events">
  <main>
    <section class="grid items-end h-96">
      <Image
        src={dinner}
        alt="Dinner"
        loading="eager"
        class="w-full row-start-1 col-start-1 object-cover h-96 self-start object-top"
      />
      <div
        class="text-center mt-6 flex flex-col gap-4 max-w-[70ch] mx-auto bg-white row-start-1 col-start-1 p-10"
      >
        <Title>Upcoming Events</Title>
      </div>
    </section>
    <section class="md:grid items-start mt-12 md:grid-rows-1 md:grid-cols-2">
      <Image
        src={ceilidh}
        alt="Choir Logo"
        quality="max"
        densities={[2]}
        class="self-start pl-0"
      />
      <Prose>
        <p>
          Còisir Lunnainn (the London Gaelic Choir) and Comunn Gàidhlig Lunnainn
          (the Gaelic Society of London) invite you to our Summer Ceilidh! Held
          in the church hall at St Columba’s, Pont St, it will be an evening of
          great music, dancing and fun. There will be a bar to whet your
          whistle. Music will be provided by the wonderful ceilidh band,
          Lochnagar (regulars at Cecil Sharpe and the Ceilidh Club), and a
          raffle during the interval with prizes not to be missed. And - of
          course - the choir will sing a couple of tunes as well. All in all,
          it'll be a great night! All proceeds from the night go towards
          supporting Còisir Lunnainn and Comunn Gàidhlig Lunnainn.
        </p>

        <table>
          <thead><tr><th>DETAILS</th></tr></thead>
          <tbody>
            <tr>
              <td>Date:</td><td>25 May 2024</td>
            </tr>
            <tr>
              <td>Time:</td><td>Doors at 7pm / Dancing starts at 7.30pm</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>St Columba’s Church of Scotland, Pont St, London SW1X 0BD</td>
            </tr>
            <tr>
              <td>Tickets:</td>
              <td
                ><a href="https://comunnlunnainn.co.uk/events/default.aspx"
                  >£20: adults / Free: children under 11</a
                ></td
              >
            </tr>
          </tbody>
        </table>
        <p>
          If you need any more information, please contact <a
            href="mailto:coisirlunnainn@gmail.com">coisirlunnainn@gmail.com</a
          >. We hope to see you there!
        </p>
        <div class="text-center mt-3">
          <a
            href="https://comunnlunnainn.co.uk/events/default.aspx"
            class="rounded-md px-3 py-2 bg-black text-white transition-all w-auto text-lg no-underline"
          >
            Buy tickets!
          </a>
        </div>
      </Prose>
    </section>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.988064191024!2d-0.1235395232443297!3d51.513434971814725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cb22e62f5d%3A0x3352af428ce0a531!2sCrown%20Court%20Church%20of%20Scotland!5e0!3m2!1sen!2suk!4v1704326514993!5m2!1sen!2suk"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="bg-white w-full h-full col-span-2 min-h-96 mt-10"></iframe>
  </main>
</Layout>

<style></style>
