---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import history from "../images/history.jpg";
import massedChoirs from "../images/massed-choirs.jpg";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="grid items-end h-64">
      <Image
        src={history}
        alt="Choir Logo"
        quality="max"
        densities={[2]}
        class="w-full row-start-1 col-start-1 object-cover h-64"
      />
      <div
        class="text-center mt-6 flex flex-col gap-4 max-w-[70ch] mx-auto bg-white row-start-1 col-start-1 p-10"
      >
        <h1 class="text-5xl">Our History</h1>
      </div>
    </section>
    <section
      class="grid items-center mt-12 max-w-[70ch] mx-auto prose prose-p:my-2 prose-h1:font-thin prose-h1:text-3xl prose-h1:mt-5 prose-h1:mb-1"
    >
      <h1>PRE HISTORY</h1>

      <p>
        Records show that an even earlier choir in fact preceded the London
        Gaelic Choir. This was the Celtic Choir of 100 voices which was formed
        in 1876 under the auspices of the Gaelic Society of London and which had
        as its patron, Lord McDuff.
      </p>
      <p>
        The story behind the founding of this choir is in itself of interest. It
        came about following the publishing by the Society of a collection of
        Highland Melodies; these were taken from the collection of John Cameron
        MacPhee, a prominent member of the Society. He whistled the tunes, which
        were taken down and put to music for modern accompaniment by Herr Louis
        Honig, a professor of music at the London College of Music. James
        Cameron MacPhee then provided the English translations of the words. The
        purpose behind this was to provide non-Gaelic speakers with the
        discovery of the beautiful melodies of Gaelic Song. Although, due to
        costs, only 500 copies of the book were published, it did cause quite a
        stir at the time and it led directly to the founding of the Choir. In
        1877 the Society staged the first ever Concerts in which Gaelic played a
        principle part and the Choir was prominent in these. What is not known
        is the length of time that the Choir was in existence.
      </p>
      <p>
        By the 1880's there was a great resurgence in the Gaelic language and
        London was very much to the forefront of this. In addition to the Gaelic
        Society, which was probably then at the height of its powers, William
        Gillies, a brilliant teacher, had formed Gaelic Classes and these
        included a Gaelic music appreciation class. The Gaelic Society in 1889
        staged the world's first ever all Gaelic Concert and this led to a
        strong movement for the formation of an all Gaelic Choir. It was in 1891
        that this agitation was rewarded with the formation of Coisir Chiuil
        Ghaidhlig Lunnainn.
      </p>
      <h1>EARLY DAYS</h1>
      <p>
        Member of the Gaelic Appreciation Class formed the Choir and as these
        classes were the direct ancestors of the present London Gaelic Classes,
        one can see just how strong the link between the Choir and classes had
        been right from the start.
      </p>
      <p>
        The first conductor of the choir was a Mr Campbell. After a short time
        he was succeeded by a Cornishman with a great love of Gaelic and its
        music, H. W. Rodda, who was a groom at Buckingham Palace. In time
        Archibald Tait, who was by profession a tailor and furrier, succeeded
        him. The conductor before the outbreak of the First World War was
        William Ross, who was the Precentor of the Gaelic Services at Crown
        Court Church.
      </p>
      <p>
        The Choir achieved considerable renown and popularity with some
        outstanding all Gaelic Concerts at some of London's leading concert
        halls. Reading through the concert programmes one cannot but be
        impressed with the sheer volume of songs that the Choir performed. One
        such programme reveals no less than 25 songs. It says much for the
        dedication of its members to have achieved such a repertoire.
      </p>
      <p>
        In 1901 The Gaelic Society had taken over the Gaelic Classes but by 1904
        they decided, that as they had their hands full running a Gaelic
        Education Scheme in Scotland, to pass the running of the classes over to
        the Choir. The Choir looked after the classes up to 1914 by which time
        their tutor was Choir member and Secretary, Isabella Murray. In 1902 the
        Choir was affiliated to the Gaelic Society of London, although later,
        due to a misunderstanding the Choir withdrew from this.
      </p>
      <p>
        It must be said that not a lot of information is available on the
        members of this period. It is known that the Choirs in those far off
        days had an accompanist and that the first of these to be appointed by
        the Choir was W. MacGregor Stoddart, who as a Headmaster at St Stephen's
        School and also a direct descendant of Rob Roy.
      </p>
      <p>
        An important name in the Choir's history is Ranald MacInnes who not only
        served in the Choir for many years, but his wife, two daughters, son and
        grandson all sang with the Choir. One daughter Flora Craighead, was for
        a number of years Choir President and grandson is David Thornley, who
        now sings with the Lothian Choir.
      </p>
      <p>
        The only singer from these pre-war days whose name is familiar to me is
        Kenny MacRae, who sang as a soloist with the Choir just before the war.
        He was very young but was already regarded as one of Gaelic's finest
        singers and he was to become known as the Gaelic Caruso.
      </p>
      <p>
        The outbreak of war in 1914 saw the Choir having to close down with many
        of its members going into war service. The Gaelic Society (with whom
        happy relations had by now been re-established) organised a number of
        ceilidhs in the camps of Highland and Canadian troops. It is thought
        that members of the Choir took part in these and certainly Isabella
        Murray was on the concert committee.
      </p>
      <h1>RE-BIRTH</h1>

      <p>
        In 1921 the Choir was reborn. The celebrated Gold Medallist, Miss
        Margrat Duncan, who was residing in London, was asked to accept the
        conductorship but due to business reasons was unable to accept. She did
        however serve on the music committee and sang with the Choir for several
        years. Mr Edwards, the Choir Master at Crown Court, then accepted the
        position and it was he who gave the Choir their initial training. Just
        how successful he was can be gleaned from the following report from the
        ObanTimes:-
      </p>
      <p>
        &OpenCurlyDoubleQuote;On Sunday 2nd December 1922 the Choir was invited
        to take part in the service of the Scots Guards at the Guards' Chapel,
        Wellington Barracks&CloseCurlyDoubleQuote;
      </p>
      <p>
        The article then went on to describe how the gallant guards headed by a
        dozen pipers swung into view, past the front of Buckingham Palace
        followed by members of the London Gaelic Choir who fell in behind and
        made their way to the beautiful chapel (N.B. this was destroyed by a
        flying bomb in 1942)
      </p>
      <p>
        &OpenCurlyDoubleQuote;The members of the Choir occupied to overflowing
        the Choir stalls of the Chapel, and were of course, at home in the
        praise used, and their well trained and beautifully tuned voices in the
        Communion Paraphrase thirty five, and Psalm one hundred and three were
        especially effective.&CloseCurlyDoubleQuote;
      </p>
      <p>
        At a meeting in October 1922 it was stated that there was a membership
        of 70, an active membership of 40 and an average attendance of 28. The
        following year Kenny MacRae took on the Conductorship. He took his first
        Choir practice on 6th March 1923 and selected 25 members to approach the
        Highland Societies in London with an appeal for funds, so that the Choir
        would be able to afford to go to the Mod, which that year was being held
        in Inverness. The funds were forthcoming but in August Kenny MacRae
        decided the Choir was not yet ready and the money had to be returned to
        the donors. Kenny continued as a conductor until 1924 when he resigned
        in order to concentrate on his highly successful career as a concert and
        recording artiste. He was made Hon. Vice President of the Choir.
      </p>
      <h1>THE CHOIR'S FIRST APPEARANCE AT A NATIONAL MOD</h1>

      <p>
        His successor was J.S. MacIntyre, a pre World War One member of the
        Choir who had the honour of leading the Choir at their first National
        Mod appearance at Greenock in 1925. It should be added that Margrat
        Duncan conducted the ladies Choir. The Choir was evidently pleased with
        their performance as the following year saw them in Oban. At Oban they
        were awarded 3rd prize for language with marks of 94%. A quartet won
        first prize. Alex MacRae and Ian Clark won 2nd prizes. The Misses
        MacDonald and MacInnes tied for 3rd place and John M. MacPherson
        attained 3rd prize for playing the violin.
      </p>
      <p>
        The Mod of 1927 could again be counted as a success as the mixed choir,
        the ladies choir, the soloists and the violinist gained between them no
        less than 12 prizes. The following Mod was in Inverness and for the
        Choir the long journey was well worthwhile as one of its members, J.C.M.
        Campbell, surely one of the greatest Gaelic singers ever to draw breath,
        won the Mod Gold Medal, in addition to which, he also with his wife won
        the Duet Competition.
      </p>
      <p>
        1932 saw the Choir back at Fort William where Miss Kirsty Maclennan, who
        won a number of Mod Competitions, won the Oban & Lorne Medal. In 1934 at
        Oban, success came for choir member Mrs Lowe who won the first prize for
        singing in the &OpenCurlyDoubleQuote;Song with Clarsach
        Accompaniment&CloseCurlyDoubleQuote; competition.
      </p>
      <p>
        In 1935 the Choir sang on the soundtrack of the film
        &OpenCurlyDoubleQuote;Eriskay&CloseCurlyDoubleQuote;. A review of the
        film was held at Londonderry House on 30th April 1935. Soloists from the
        Choir were Miss Molly Wilson and Alex MacRae. Also taking part was a
        young pianist from the Isle of Lewis, Duncan M. Morison and the tenor,
        Sidney MacEwen, both on the threshold of famous careers. During the
        period of their time in London both appeared with the Choir on a number
        of occasions.
      </p>
      <p>
        In addition to the National Mods the Choir and its soloists regularly
        appeared in the Gaelic Society of London's local Mods. These were first
        run in 1913 and were continued (with wartime breaks) up to 1976. These
        local Mods were without any doubt very useful as a good training ground
        for the National Mod.
      </p>
      <p>
        As might be expected the choir was forced to close during the Second
        World War. Since the war, records are somewhat sketchy. The first
        conductor post war was Dr J Macdonald and who was succeeded in 1951 by
        Walter Ross, a schoolteacher and much loved conductor, for the next 20
        years.
      </p>
      <p>
        The Choir attended the Mods in Glasgow 1948, Inverness 1949, Dunoon
        1950, Edinburgh 1951, Oban 1953 and of course there have been many since
        that date. In 1953 the Choir won the
        &OpenCurlyDoubleQuote;Cuaich&CloseCurlyDoubleQuote; for top marks in
        Gaelic. At this same Mod J.C.M. Campbell and his wife repeated their
        feat of 1928 by winning the duet competition, the winning of this prize
        twice was remarkable, but to do it after a gap of 24 years was downright
        astonishing. To top matters Walter Ross, the conductor, received the
        baton of John G. Sneddon (who had conducted the Oban Choir to success in
        1905.)
      </p>
      <p>
        During the 1950's the Choir visited Brittany where they sang in the folk
        festival. They also sang on the film soundtracks of
        &OpenCurlyDoubleQuote;Whisky Galore&CloseCurlyDoubleQuote;,
        &OpenCurlyDoubleQuote;Silver Darlings&CloseCurlyDoubleQuote;,
        &OpenCurlyDoubleQuote;Dark Island&CloseCurlyDoubleQuote;,
        &OpenCurlyDoubleQuote;Rockets Galore&CloseCurlyDoubleQuote; and
        &OpenCurlyDoubleQuote;The Isle of Skye&CloseCurlyDoubleQuote;. Sir
        Compton Mackenzie, the author, became a Choir member although I suspect
        it was a non-singing role.
      </p>
      <p>
        A young lady who achieved much success with the Choir and who appeared
        in concerts in America, was Kathy Kennedy, whose parents had both been
        Choir members.
      </p>
      <p>
        The Gaelic Society of London in 1960 formed a Junior Choir, which
        appeared at the London Mods, in concerts, and made radio broadcasts. A
        number of its members were to graduate to the Senior Choir. The most
        notable of these was Alexandra Thompson, who from 1967 onwards won
        almost every prize going (with the exception of the Traditional). In
        1972 at Inverness she created history by being the first person born
        outside of Scotland to win the Gold Medal.
      </p>
    </section>
    <!-- <section class="grid items-center mt-12">
      <Image
        src={massedChoirs}
        alt="Choir Logo"
        quality="max"
        densities={[2]}
        class="row-start-1 col-start-1 w-[60%] self-start pl-0"
      />
      <div
        class="mt-6 flex flex-col gap-4 max-w-[70ch] mx-auto bg-white row-start-1 col-start-1 p-10 ml-[40%] prose prose-p:my-2"
      >
        <h1 class="text-5xl not-prose">
          <b>&Agrave;</b>&CenterDot;<b>B</b>&CenterDot;<b>C</b>
        </h1>
        <p>
          <b>&Agrave;</b>igh (joy)&mdash;make sure that the choir remains a fun
          and nurturing environment <br />
          <b>B</b>uanas (durability)&mdash;grow and strengthen choir in terms of
          Gaelic and Music proficiency<br />
          <b>C</b>li&ugrave; (renown)&mdash;increase our visibility and presence
          both in London and at the Royal National M&ograve;d<br />
        </p>
      </div>
    </section> -->
    <!-- <svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M167.19 364.254C83.4786 364.254 0 404.819 0 404.819C0 404.819 141.781 19.4876 142.087 18.7291C146.434 7.33701 153.027 0 162.289 0H332.441C341.703 0 348.574 7.33701 352.643 18.7291C352.92 19.5022 494.716 404.819 494.716 404.819C494.716 404.819 426.67 364.254 327.525 364.254L264.41 169.408C262.047 159.985 255.147 153.581 247.358 153.581C239.569 153.581 232.669 159.985 230.306 169.408L167.19 364.254ZM160.869 530.172C160.877 530.18 160.885 530.187 160.894 530.195L160.867 530.181C160.868 530.178 160.868 530.175 160.869 530.172ZM136.218 411.348C124.476 450.467 132.698 504.458 160.869 530.172C160.997 529.696 161.125 529.242 161.248 528.804C161.502 527.907 161.737 527.073 161.917 526.233C165.446 509.895 178.754 499.52 195.577 500.01C211.969 500.487 220.67 508.765 223.202 527.254C224.141 534.12 224.23 541.131 224.319 548.105C224.328 548.834 224.337 549.563 224.347 550.291C224.563 566.098 228.657 580.707 237.264 593.914C245.413 606.426 256.108 615.943 270.749 622.478C270.593 621.952 270.463 621.508 270.35 621.126C270.045 620.086 269.872 619.499 269.685 618.911C258.909 585.935 266.668 563.266 295.344 543.933C298.254 541.971 301.187 540.041 304.12 538.112C310.591 533.854 317.059 529.599 323.279 525.007C345.88 508.329 360.09 486.327 363.431 457.844C364.805 446.148 363.781 434.657 359.848 423.275C358.176 424.287 356.587 425.295 355.042 426.275C351.744 428.366 348.647 430.33 345.382 431.934C303.466 452.507 259.152 455.053 214.03 448.245C184.802 443.834 156.584 436.019 136.218 411.348Z"
				fill="url(#paint0_linear_1805_24383)"></path>
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
  </main>

  <style></style>
</Layout>
