---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import rehearsal from "../images/rehearsal.webp";
import members from "../images/choir.webp";
import Title from "../components/Title.astro";
import Prose from "../components/Prose.astro";
import InfoBox from "../components/InfoBox.astro";
---

<Layout title="Home">
  <main>
    <section class="grid items-end min-h-[700px]">
      <Image
        src={members}
        alt="Members"
        class="w-full row-start-1 col-start-1 self-start"
        loading="eager"
      />
      <div
        class="text-center mt-6 flex flex-col gap-4 max-w-[70ch] mx-auto bg-white row-start-1 col-start-1 p-10"
      >
        <Title>C&Ograve;ISIR LUNNAINN</Title>

        <p class="text-[#668C8C] text-xl">
          Ce&ograve;l - C&agrave;irdeas - Cli&ugrave;
        </p>
        <Prose>
          <p>
            F&agrave;ilte gu l&agrave;rach-l&igrave;n C&ograve;isir Lunnainn //
            Welcome to the London Gaelic Choir's website
          </p>
          <p>
            C&ograve;isir Lunnainn [kosh-er loon-ein] was founded in London in
            1891 and is the oldest running Scottish Gaelic choir in the world.
          </p>
        </Prose>
        <div>
          <a
            href="/contact"
            class="rounded-md px-3 py-2 bg-black text-white transition-all w-auto text-lg"
          >
            Get in Touch
          </a>
        </div>
      </div>
    </section>
    <InfoBox src={rehearsal} alt="Choir rehearsal">
      <Title>ABOUT THE CHOIR</Title>
      <Prose>
        <p>
          Coisir Lunnainn is a friendly, non-auditioned choir, and we welcome
          all levels of Gaelic&mdash;whether you are a native speaker, a learner
          or you're just keen to give it a go.
        </p>
        <p>
          We rehearse on Tuesday evenings, and have made these hybrid
          online/in-person rehearsals since March 2020, allowing all past and
          present members to connect, no matter where they are in the world.
        </p>
      </Prose>
    </InfoBox>
  </main>
</Layout>

<style></style>
