---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Title from "../components/Title.astro";
import Prose from "../components/Prose.astro";
import InfoBox from "../components/InfoBox.astro";
import { getEntry, render } from "astro:content";

const entry = await getEntry("pages", "about");
const { Content } = await render(entry!);

const config = await getEntry("config", "site");
---

<Layout title="Home">
  <main>
    <section class="grid items-end mx-4">
      <Image
        src={config?.data.main_image}
        alt="Members"
        width={1920}
        height={1080}
        class="w-full row-start-1 col-start-1 self-start rounded-md"
        loading="eager"
      />
      <div
        class="text-center sm:mb-4 mt-4 sm:mt-0 flex flex-col gap-1 sm:max-w-[70ch] sm:mx-auto bg-gray-100 rounded-md sm:row-start-1 col-start-1 p-4 md:p-6"
      >
        <Title>C&ograve;isir Lunnainn</Title>
        <p class="text-[#006838] text-xl font-bold">
          Ce&ograve;l - C&agrave;irdeas - Cli&ugrave;
        </p>
      </div>
    </section>
    <InfoBox src={entry?.data.banner}>
      <Prose>
        <Content />
      </Prose>
    </InfoBox>
    <!-- <div class="mx-4">
      <div
        class="w-full sm:mb-4 mt-2 sm:mt-0 flex flex-col gap-1 sm:mx-auto bg-gray-100 rounded-md sm:row-start-1 col-start-1 p-4 md:p-6"
      >
        <h2 class="text-xl md:text-2xl lg:text-3xl">Recent Posts...</h2>
      </div>
      <div class="flex flex-wrap gap-2 mt-2">
        <div class="bg-red-500 rounded-md aspect-square flex-1 min-w-64"></div>
        <div class="bg-red-500 rounded-md aspect-square flex-1 min-w-64"></div>
        <div class="bg-red-500 rounded-md aspect-square flex-1 min-w-64"></div>
        <div class="bg-red-500 rounded-md aspect-square flex-1 min-w-64"></div>
        <div class="bg-red-500 rounded-md aspect-square flex-1 min-w-64"></div>
        <div class="bg-red-500 rounded-md aspect-square flex-1 min-w-64"></div>
        <div class="bg-red-500 rounded-md aspect-square flex-1 min-w-64"></div>
      </div>
    </div> -->
  </main>
</Layout>

<style></style>
