---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import rehearsal from "../images/rehearsal.webp";
import members from "../images/mod-24-choir.webp";
import Title from "../components/Title.astro";
import Prose from "../components/Prose.astro";
import InfoBox from "../components/InfoBox.astro";
import { getEntry, render } from "astro:content";

const entry = await getEntry("pages", "about");
const { Content } = await render(entry!);

const config = await getEntry("config", "site");
---

<Layout title="Home">
  <main>
    <section class="grid items-end min-h-[700px]">
      <Image
        src={config?.data.main_image}
        alt="Members"
        width={1920}
        height={1080}
        class="w-full row-start-1 col-start-1 self-start"
        loading="eager"
      />
      <div
        class="text-center mt-6 flex flex-col gap-4 max-w-[70ch] mx-auto bg-white row-start-1 col-start-1 p-10"
      >
        <Title>C&Ograve;ISIR LUNNAINN</Title>

        <p class="text-[#668C8C] text-xl">
          Ce&ograve;l - C&agrave;irdeas - Cli&ugrave;
        </p>
        <Prose>
          {config?.data.intro}
        </Prose>
      </div>
    </section>
    <InfoBox src={entry?.data.banner} alt="Choir rehearsal">
      <Prose>
        <Content />
      </Prose>
    </InfoBox>
  </main>
</Layout>

<style></style>
